.History {
  p {
    font-size: 1rem;
  }

  .left-side {
    #home-map-star {
      position: absolute;
      width: 700px;
      left: -10vw;
    }
  }

  .right-side {
    img {
      box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.75);
      -webkit-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.75);
    }

    #pic-color-guard {
      position: relative;
      top: 0;
    }
    #pic-drumline-1961 {
      position: absolute;
      bottom: 2vh;
      right: 10vw;
    }
  }
}