@import "../../styles/colors";
@use "sass:color";

/*
@mixin list-item-background-behavior($name) {
  &:not(.active) {
    background-image: url("../../res/img/staff-list-backgrounds/" + $name);
    background-position: center center;
    background-size: cover;
  }
}
*/

.Staff {
  // TODO -- Make me global
  .wrapper {
    min-height: 80vh;
  }

  .list-group-item {
    &.active {
      background-color: $brand-orange !important;
      border-color: $brand-orange;
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }

  .card-deck {
    justify-content: stretch;
    row-gap: 14px;
  }

  .list-group {
    /*
    #list-brass-list {
      @include list-item-background-behavior("list-brass.png");
    }
    #list-percussion-list {
      @include list-item-background-behavior("list-drums.png");
    }
    #list-colorguard-list {
      @include list-item-background-behavior("list-guard.png");
    }
    */

    a {
      color: $brand-blue;
    }

    a,
    p {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}
