/*
    SECTION - Static colors
*/
$brand-orange: #f06c21;
$brand-blue: #0a0f94;
$white: #f7f7f7;

/*
  SECTION - Gradients
*/
$brand-orange-gradient: radial-gradient(at bottom left, $brand-orange 35%, #e8aa87 100%);
$brand-blue-gradient: radial-gradient(at bottom left, $brand-blue 35%, #1f6d76 100%);
