@import "./colors";
@import "../../node_modules/sass-math/math";

/*
  SECTION - Buttons
*/

@mixin button() {
  text-align: center;
  cursor: pointer;
}

@mixin main-button() {
  @include button();
  @include font-h1();

  font-style: italic;
  color: $white;
  background-color: $brand-blue;
  padding: 18px;
}

/*
  SECTION - Diag box
*/

@mixin diagbox($color, $degree: -6deg) {

  /*
    NOTE -
    Content that is going inside the slanted areas must have the
    .content class, otherwise it won't work.

    To modify elements of the pseudo element, simply override the
    property call.
  */

  &::before {
    content: "";
    position: absolute;
    background: $color;
    height: 300px;
    width: 100vw;
    transform: skewY($degree);
  }
  
  > .content {
    // NOTE - See https://codepen.io/enbee81/pen/yLyrmyg for more information.
    padding: tan($degree * (100vw / 2));
    position: relative;
  }
}
