@import "../../styles/styles";
@import "../../styles/colors";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.App {
  overflow: hidden;
  background-color: $white;
}

h1 {

}

h2 {

}

h3 {
  font-family: "Raleway", "Sans-seriff";
  font-weight: 900;
  font-size: 30px; // Override for browser support.
  font-size: 6.25vw; // TODO - Add media query for narrow screens.
  padding: 5px auto;
}

p {
  font-family: "Raleway", "sans-serif";
  font-weight: 400;
  font-size: 18px; // TODO - Add media query for small screens.
}

