@import "../../styles/colors";

.NewsTile {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 500px;
  flex-grow: 1;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  transition: ease-out 170ms;
  border-radius: 15px;
  background: radial-gradient(
    at top left,
    rgba(242, 179, 231, 0.405) 0%,
    rgba(93, 100, 111, 0.316) 100%
  );
  // -webkit-box-shadow: 5px 5px 15px 1px rgba(197, 124, 185, 0.333);
  // box-shadow: 5px 5px 15px 1px rgba(197, 124, 185, 0.333);

  i {
    transition: ease-out 170ms;
    margin-left: 6.5px;
  }

  &:hover {
    transform: scale(1.02);
    transition: ease-out 170ms;
  }

  .bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    p {
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
    font-weight: 500;    }
  }
  
  .top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    p {
      
    }
    .title {
      font-size: 26px;
      font-weight: 700;
    }
  }

  .body {
    // font-family: 'Merriweather', serif;
    font-weight: 300;

  }
}
