@import "../../styles/colors";

.NewsTile {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 500px;
  flex-grow: 1;
  padding: 5px;
  margin: 10px;
  border: 5px solid rgba(52, 72, 87, 0.035);
  border-radius: 19px;
  background: radial-gradient(
    at top left,
    rgba(210, 107, 245, 0.494) 0%,
    rgba(93, 100, 111, 0.316) 100%
  );
  // max-width: 500px;
  cursor: pointer;
  transition: ease-out 170ms;

  i {
    transition: ease-out 170ms;
  }

  &:hover {
    transform: rotate(2.5deg);
    transition: ease-out 170ms;
    i {
      transform: scale(2.15);
      transition: ease-out 170ms;
      padding: 10px;
    }
  }
  .date {
    margin-top: -8px;
  }

  .top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 26px;
      font-weight: 700;
    }
  }
}
