@import "../../styles/styles";
@import "../../styles/colors";
@import "../../styles/button-generic";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

.App {
  overflow: hidden;
  background-color: $white;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  margin: 6px;
}

h1 {
}

h2 {
  font-size: 48px;
}

h3 {
  font-weight: 900;
  font-size: 30px; // Overload for browser support.
  font-size: 6.25vw; // TODO - Add media query for narrow screens.
  padding: 5px auto;
}

h4 {
  font-size: 21px;
}

p {
  // font-family: "Raleway", "sans-serif";
  font-weight: 400;
  font-size: 14px; // TODO - Add media query for small screens.
}

small {
  font-family: serif;
  font-size: 0.8em;
}

// button {
//   @include button-generic();
// }
