@import "../../styles/colors";
@import "../../styles/styles";

.Schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white; // NOTE - Can't modify Google Calendar background cololors
  min-height: 100vh;
}
