@import "../../styles/colors";

$breakpoint: 500px;

/*
    FIXME -- Unknown why white space is below footer. The current implementation
    is to add a negative value to App.scss margin-bottom.
*/

.Footer {
  background-color: $black;
  color: $white;
  padding-top: 20px;
  p {
    margin: 4px;
  }
  a {
    color: $white;
  }
  img {
    width: 100%;
    color: $white;
    max-width: 350px;
  }
  .bottom-text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5px 0 10px 0;
  }
}
