@import "../../styles/colors";
@import "../../styles/styles";
@import "../../styles/button-marco";

$content-max-width: 1080px;

.Home {
  .join-button {
    @include marco-button2();
    // FIXME - Text disappears on hover.
  }

  .hero {
    height: 100vh;

    // TODO - This is filler background
    // background-image: url("../../res/img/background-filler.jpg");
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    // --
  }

  .bonus-area {
    @include diagbox($brand-orange-gradient);
    display: flex;
    justify-content: center;
    .content {
      max-width: $content-max-width
    }
    h3 {
      text-align: center;
    }
    .do-more {
      @include marco-button3($brand-blue, $brand-orange);
    }
  }

  .news-area {
    @include diagbox($brand-blue-gradient);
    display: flex;
    justify-content: center;
    .content {
      display: flex;
      flex-flow: column wrap-reverse;
      color: $white;
      max-width: $content-max-width;
      .tiles {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
        align-items: flex-start;
      }
      h3 {
        right: 0;
        margin: auto 0 auto auto;
      }
    }
  }
}
