@import "../../styles/colors";

.Navbar {
  position: fixed;
  //   top: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;

  .link-panel {
    transition: all 1s ease-in-out;
    a {
      padding: 10px;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      background: #eee;
      color: #aaa;
      letter-spacing: 0.15rem;
      transition: all 400ms ease 0.1s;
    }
    a:hover {
      transition: all 600ms ease 0.1s;
      background: white;
      color: $brand-orange;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      padding: 20px 10px;
    }
    li {
      float: left;
      z-index: 2;
    }
    li a {
      display: inline;
      z-index: 2;
    }
    ul li {
      a {
        position: relative;
      }
      a:before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        content: "";
        visibility: hidden;
        border-radius: 3px;
        transition: all 400ms ease 0.1s;
      }
      a:hover {
        &:before {
          height: 47px;
          background: $brand-blue;
          position: absolute;
          display: block;
          margin: auto;
          content: "";
          transition: all 250ms ease 0.1s;
          visibility: visible;
        }
      }
    }
  }
}
