/*
    SECTION - Static colors
*/
$brand-orange: #f87c39;
$brand-blue: #125491;
$hotpink: #DD5E98;
$green: #70a703;
$white: #f7f7f7; // alt: EBEBD3
$black: #333333;

/*
  SECTION - Gradients
*/
$brand-orange-gradient: radial-gradient(
  at bottom left,
  $brand-orange 35%,
  #e8aa87 100%
);
$brand-blue-gradient: radial-gradient(
  at bottom left,
  $brand-blue 35%,
  #1f6d76 100%
);
