@import "./colors";
@import "../../node_modules/sass-math/math";

/*
  SECTION - Buttons
*/

@mixin button() {
  text-align: center;
  cursor: pointer;
}

@mixin main-button() {
  @include button();
  @include font-h1();

  font-style: italic;
  color: $white;
  background-color: $brand-blue;
  padding: 18px;
}

/*
  SECTION - Diag box
*/

@mixin diagbox($color, $degree: -6deg) {
  /*
    NOTE -
    Some things must happen in order for the diagonal box to work.

    1) Content that is going inside the slanted areas must have the
    .content class.
    2) Don't forget the content height parameter.

    To modify elements of the pseudo element, simply override the
    property call.
  */

  position: relative;

  > .content {
    // NOTE - See https://codepen.io/enbee81/pen/yLyrmyg for more information.
    padding: tan($degree * (100vw / -2)) + 20 + px;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    background: $color;
    height: 100%;
    width: 100%;
    transform: skewY($degree);
  }
}
